.container {
  max-width: 1500px;
  margin: 0 auto;
  color: #4830f0;
}
nav,
h1 {
  text-align: center;
}
div {
  color: beige;
}
.image {
  position: relative;
  width: 120%;
}

h3 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  padding-left: 5%;
  text-align: center;
}
li {
  list-style-type: none;
  letter-spacing: 2px;
}
.style {
  border: double 5px rgb(28, 100, 160);
  text-align: center;
}
.address {
  text-align: center;
  letter-spacing: 2px;
}
button {
  text-decoration: none;
  color: white;

  padding: 10px 18px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 100% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  display: flex;
}

footer {
  color: #4830f0;
  text-align: center;
  letter-spacing: 2px;
}
